*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
body{
    background: #000;

}
.roller{
    display: flex;
    justify-content: center;
    align-items: center;
    /* min-height: 100vh; */
    background: #000;
}
.work-control{
    height: 100%;
    background-color: #000;
    padding-bottom: 6%;
    
}

.work-heading{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.work-heading h2{
    margin-top: 90px;
    font-size: 3rem;
    text-align: center;
    color: white;
    font-weight: 900;

}

.workText{
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    color: #ffda21;
    text-align: center;


}

.work-area{
    margin-top: -1rem;
    margin-left: -8rem;
    display: flex;
    justify-content: center;
    left: 50%;
    right: 50%;
}
.box{
    top: 12rem;
    left: 3.5rem;
    position: relative;
    width: 10rem;
    height: 10rem;
    transform-style: preserve-3d;
    animation: animate 20s linear infinite;
}
@keyframes animate
{
    0%{
        transform:perspective(75rem) rotateX(0deg) rotateY(35deg);
    }
    100%{
        transform: perspective(75rem) rotateX(360deg) rotateY(35deg);
    }
}

.box span{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-origin: center;
    transform-style: preserve-3d;
    transform: rotateX(calc(var(--i)*45deg)) translateZ(200px);
}
.box span img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}
.box span img:hover{
    background: red;
}




.image:hover{
    transform: scale(1.2);

}

@media(max-width:400px){
  .box1{
    margin-top: 25rem;

  }
  .image{
      width: 16rem;
      height: 13rem; 
  }
 
}

.gallery{
    margin-top: 20rem;
    background: #000;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
}

.team{
    display: flex;
    justify-content: center;
    align-items: center;

}
.team-area{
    display: flex;
    width: 100%;
    justify-content: space-around;
    flex-wrap: wrap;

}

.single-team{
    width: 29rem;
    height: 19rem;
    background: #fff;
    position: relative;
    display: flex;
    align-items: flex-end;
    transition: .6s ease-out;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
    margin: 2rem;
}

.single-team:hover{
    transform: translateY(25px);

}

.single-team::before{
    opacity: 1;
}

.single-team:hover .team-text{
    opacity: 1;
    transform: translateY(0);
}

.single-team:hover:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #ffda21, transparent);
    z-index: 2;
}

.single-team img{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
}

.single-team .team-text{
    position: relative;
    z-index: 3;
    color: #000;
    opacity: 0;
    transform: translateY(60px);
    transition: 0.5s;
}

.team-text{
    position: absolute;
    margin-top: 7rem;
}
.team-text h2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 3px;
    margin-bottom: 20%;
    margin-left: 25%;
    text-transform: uppercase;

}

.btn{
    position: relative;
    background: #ffda21;
    border: 2px solid #ffda21;
    display: inline-block;
    color: #000;
    margin-top: 20px;
    padding: 10px 30px;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-decoration: none;
    font-weight: 800;
    border-radius: 2rem;
    margin-top: 3rem;
    margin-bottom: 5rem;
    margin-left: 2rem;

}

.btn:hover{
    background-color: black;
    border: 2px solid #000;
    color: #ffda21;
    transition: 0.5s ease-in-out;
    border: 2px solid #ffda21;

}



